.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes marquee-vertical {
  0% {
    transform: translateY(90%);
  }
  100% {
    transform: translateY(-100%);
  }
}

.animate-marquee-vertical {
  display: block;
  animation: marquee-vertical 8s linear infinite; /* Slow scroll */
  animation-play-state: running;
}

.animate-marquee-vertical:hover {
  animation-play-state: paused; /* Stop the scroll on hover */
}

/* breaking news marquee */

@keyframes marquee-vertical-breaking {
  0% {
    transform: translateY(90%);
  }
  100% {
    transform: translateY(-100%);
  }
}

.animate-marquee-vertical-breaking {
  display: block;
  animation: marquee-vertical-breaking 30s linear infinite; /* Slow scroll */
  animation-play-state: running;
}

.animate-marquee-vertical-breaking:hover {
  animation-play-state: paused; /* Stop the scroll on hover */
}
